<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="logo" src="assets/images/doitlogo.png"></ion-img>
  <div class="about-content">
  <p>Do it is an Gamified To do List Mobile Application. You can earn experiences (EXP) through accomplishing tasks and leveling up.
    Also, you can be one of the top 10 rankings by doing your to do lists tasks everyday.</p>
    <br>
    <h3>Playstore Rate:</h3>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <br>
    <h3>Playstore Rate:</h3>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star-half"></ion-icon>
  </div>
</ion-content>
