<ion-content>
  <ion-img src="assets/images/doitlogo.png"></ion-img>
<div class="login-form">
  <ion-item>
    <ion-input placeholder="Email"><ion-icon class="ico-field" name="person-circle" color="medium"></ion-icon></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input type="password" placeholder="Password"><ion-icon class="ico-field" name="lock-closed" color="medium"></ion-icon></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" href="home">Login</ion-button>
  <ion-label class="forgot-pass-text" color="primary">Forgot password?</ion-label>
  <br><br>
  <p class="ion-text-center">---------------------------- Or -----------------------------</p>
  <br>
  <ion-grid class="account-sub-icons">
    <ion-row>
      <ion-col offset-4>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-google"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <p class="ion-text-center">Don't have an account? <a href ="signup" class="register-text">Register here</a></p>
</div>
</ion-content>
