<ion-content>
  <ion-img src="assets/images/doitlogo.png"></ion-img>
<div class="login-form">
  <ion-item>
    <ion-input placeholder="Email"><ion-icon class="ico-field" name="person-circle" color="medium"></ion-icon></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input type="password" placeholder="Password"><ion-icon class="ico-field" name="lock-closed" color="medium"></ion-icon></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input type="password" placeholder="Re-type password"><ion-icon class="ico-field" name="lock-closed" color="medium"></ion-icon></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" href="login">Register</ion-button>
  <br>
  <p class="ion-text-center">------------- Register using this: ---------------</p>
  <ion-grid class="account-sub-icons">
    <ion-row>
      <ion-col offset-4>
        <ion-icon name="logo-facebook" color="primary"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-google" color="primary"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-twitter" color="secondary"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="ion-text-center">Login instead? <a href ="login" class="register-text">Login here</a></p>
</div>
</ion-content>
