ion-avatar{
  margin: auto;
  width: 150px;
  height: 150px;
}

ion-row{
  padding-top: 50px;
}

.context p{
  color: #92949c;
}

ion-progress-bar{
  height: 12px;
}

ion-list-header{
  font-size: 21px;
}

ion-badge{
  font-size: 15px;
}

.todos ion-card{
  background-color: blue;
}

.trophy{
  color: #ffc409;
}
